ul.socialIcons {
  padding: 0;
  text-align: center;
  }

  .socialIcons li {
  background-color: yellow;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;
  }

  .socialIcons li a {
  display: block;
  padding: 0.5em;
  min-width: 2.3em;
  max-width: 2.3em;
  height: 2.3em;
  white-space: nowrap;
  line-height: 1.5em; /*it's working only when you write text with icon*/
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
  }

  .socialIcons li i {
  margin-right: 0.5em;
  }

  .socialIcons li:hover a {
  max-width: 200px;
  padding-right: 1em;
  }

  .socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
  }

  .socialIcons .twitter {
  background-color: #00aced;
  box-shadow: 0 0 16px #00aced;
  }

  .socialIcons .instagram {
  background-color: #cd486b;
  box-shadow: 0 0 16px #cd486b;
  }

  .socialIcons .linkedin {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
  }

  .socialIcons .whatsapp {
  background-color: green;
  box-shadow: 0 0 16px green;
  }






#headername{
  animation: color-change 20s infinite;
  font-size: 35px;
  font-family: 'Sigmar One', cursive;
}


@keyframes color-change {
  0% {
    color: orange;
  }
  10% {
    color: red;
  }
  20% {
    color: green;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: white;
  }
  60% {
    color: purple;
  }
  70% {
    color: #00ff00;
  }
  80% {
    color: yellow;
  }
  90% {
    color: #ff00bf;
  }
  100% {
    color: pink;
  }
}





.degree,
.hsc{
  box-shadow: 0px 0px 30px 1px red;
  margin-top: 2%;
}
.degree:hover,
.hsc:hover{
  box-shadow: 0px 0px 30px 1px green;
}

.degree p,
.hsc p{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
.degree .row div,
.hsc .row div{
  padding: 50px;
}






/* Skills */

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
  color: #00acc1;
}







#ml h1,
#web h1,
#sih h1{
  text-align: center;
  margin-top: 5%;
}
#ml,
#web,
#sih{
  font-size: 18px;
}